.montserrat-main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
    line-height: 1rem;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px 626px;
    grid-template-areas:
        "dash header"
        "dash content";
}

.dashboard {
    padding-left: 20px;
    padding-bottom: 600px;
    grid-area: dash;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(9, 1fr);
    gap: 10px;

    color: #000000;
    background-color: rgba(255, 110, 31, 0.8);
    font-weight: 500;
    font-size: 1.1rem;
}

.options, .heading {
    display: flex;
    gap: 15px;
}

.options {
    align-items: center;
}

.dash-img {
    width: 20px;
}

.heading-img {
    width: 45px;
}

.heading-text {
    font-size: 1.6rem;
    padding-top: 12px;
}

.heading {
    padding-top: 15px;
    margin-bottom: 20px;
}

.settings {
    margin-top: 40px;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-box {
    padding: 0px 25px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header img {
    width: 25px;
}

.search {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    gap: 25px;
}

.search-field {
    border-radius: 12px;
    width: 90%;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #FF6E1F;
}

.profile {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    font-weight: 700;
    padding-right: 30px;
}

.profile-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-big {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-small, .profile-big {
    display: block;
    background-color: #f0f0f0;
    border: 1px solid #FF6E1F;
}

.user {
    grid-column: 1;
    grid-row: 2;

    padding-left: 30px;
    display: flex;
    gap: 15px;
}

.user-text span{
    display: block;
}

.user-text {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.big-text {
    font-size: 1.3rem;
}

.btn {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: rgba(255, 110, 31, 0.8);
    font-weight: 700;
}

.actions {
    grid-column: 2;
    grid-row: 2;

    padding-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.content {
    padding: 25px 25px 40px 15px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 600px;
    gap: 25px;
}

.content span {
    display: block;
}

.blog-project, .blog-site {
    font-weight: 600;
    font-size: 1.1rem;
}

.blog {
    grid-column: 1 / 2;
}

.site-text {
    grid-column: 2 / 3;
}

.blog-heading {
    font-size: 1rem;
    font-weight: 600;
}

.blog-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #000000;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 160px);
    gap: 25px;
}

.blog-project {
    grid-column: 1 / 3;
}

.blog-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 8px solid gold;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.site-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 20px 1fr;
    gap: 25px;
}

.announcements {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid rgba(255, 110, 31, 0.8);
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ahead {
    font-weight: 600;
    font-size: 0.8rem;
}

.atext {
    color: #000000;
    font-size: 0.7rem;
}

.one{
    margin-bottom: 15px;
}

.trending {
    border: 1px solid rgba(255, 110, 31, 0.8);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 15px 30px 15px 15px;
    margin-bottom: 100px;
    height: 247px;
}

.tprofile-big {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tsmall-text {
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 0.8rem;
}

.tbig-text {
    font-size: 0.9rem;
}

.user {
    display: flex;
    align-items: center;
}