.montserrat-main {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
    line-height: 1rem;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "dash header"
        "dash content";
}

.dashboard {
    padding-left: 20px;
    padding-bottom: 400px;

    grid-area: dash;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(9, 1fr);
    gap: 10px;

    color: #000000;
    background-color: #FF6E1F;
    font-weight: bold;
    font-size: 1.1rem;
}

.options, .heading {
    display: flex;
    gap: 15px;
}

.dash-img {
    width: 20px;
}

.heading-img {
    width: 45px;
}

.heading-text {
    font-size: 1.6rem;
    padding-top: 12px;
}

.heading {
    padding-top: 15px;
    margin-bottom: 20px;
}

.settings {
    margin-top: 40px;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.header {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-box {
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header img {
    width: 25px;
}

.search {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    gap: 25px;
}

.search-field {
    border-radius: 12px;
    width: 90%;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #FF6E1F;
}

.profile {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    font-weight: 700;
    padding-right: 30px;
}

.profile-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-big {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-small, .profile-big {
    display: block;
    background-color: #f0f0f0;
    border: 1px solid #FF6E1F;
}

.user {
    grid-column: 1;
    grid-row: 2;

    padding-left: 30px;
    display: flex;
    gap: 15px;
}

.user-text span{
    display: block;
}

.user-text {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.big-text {
    font-size: 1.3rem;
}

.btn {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #FF6E1F;
    font-weight: 700;
}

.actions {
    grid-column: 2;
    grid-row: 2;

    padding-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}